<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">
 
 <div class="card" style="width: 18rem;background:black;">
  <img class="card-img-top" src="/imagens/compra-realizada-com-sucesso-1.png" width="250" height="250" alt="Card image cap">
  <div class="card-body" style="background:white;">
    <h5 class="card-title"></h5>
    <p class="card-text">Agora é só esperar até a data do evento.</p>
    <a href="/home" class="btn btn-primary">Ir para pagina principal</a>
  </div>
</div>

</section>