<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">

     
 
	<div class="container container-fluid " >
 <div class="form-group">                 

          <h2 class="section_title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Eventos Disponíveis</font></font></h2>
                       
                 <div  th:each=" evento : ${todosShows}" class="form-group row">
                 
                
                                                
					   
					   
					   
					<div class="our_event_list ">
							<div class="  col-sm-2"> 
								<img th:src="@{/imagens/generos/{nomeImagem}.jpg(nomeImagem=${evento.selecionarGenero})}"  width="75" height="60"> 
							</div>	
					</div>
							
					 <div class="col-sm-3 our_event_list">
						<div class="ajuste">
							   <div > 
							   		<h3> <a th:text="${evento.nomeEvento}"> </a> </h3>
							   </div>
						</div>
							   
						<div class="ajuste">
							 <h5> <a th:text="${evento.selecionarGenero.descricao}" ></a> </h5> 
						</div>
						   
					</div>
						  	   
					
					   
                  <div class="our_event_list fadeInDown col-sm-2">
    
	 
					   <div class="event_common event_date ">
						  <div ><h5><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><img src="/imagens/listaShow/dataEvento.png"  width="25" height="25"> <a th:text="${{evento.dataEvento}}"></a> </font></font></h5></div>
					   </div>
				  </div>
					  
				
						<div class="event_common event_location our_event_list ">    
							<div >
								<h6> <img  src="/imagens/local.png"  width="25" height="25" title="Local" rel="tooltip" data-placement="top"> <a href="/home/listaCasas" th:text=${evento.selecinarCasas.nomeCasa} id="texto"> </a> </h6>
							</div>   
						</div>
					
					
						<div class="event_common event_time our_event_list ">    	
							<div class="col-sm-3" >
								<h6> <a th:text="|R$${{evento.valorEvento}}| "> </a> </h6>
							</div> 	
							
							<div >
							  	<img  src="/imagens/ingresso.png"  width="25" height="25" title="Ingressos disponiveis" rel="tooltip" data-placement="top" > <a th:text="${evento.capacidadeEvento}" ></a>
							</div>					
						</div>
						
						<div class=" our_event_list col-sm-2 "> 
						
						 <a  th:href="@{/home/carrinho/addCarrinho/{codigo}(codigo=${evento.codigo})}"  id="botaoLogin3"  type="button" class="btn btn-outline-dark "> <img alt="" src="/imagens/pagar.png" width="25" height="25" title="Comprar" rel="tooltip" data-placement="top"> </a> 
						
						</div>
					
					
					</div>
					
				</div>                 
                 	<div>
						<h3 class="section text-center"  th:if="${#lists.isEmpty(todosShows)}">Por enquanto não temos nenhum evento disponível. <img alt="" src="/imagens/98.png" width="40" height="40"> </h3>
					</div>
				
					</div> 
					
</section>

